default_stages:
  - commit
  - push
fail_fast: true
repos:
  - repo: local
    hooks:
      - id: scalafmt
        name: Scala format
        language: system
        always_run: true
        pass_filenames: false
        verbose: true
        entry: sbt
        args: [ scalafmt ]